# SQL查询语言

In [10]:
import pandas as pd
from datetime import datetime

In [11]:
var_list = ['event_id','user_id','gmt_occur','client_ip','network','device_sign','info_1','info_2','ip_prov','ip_city',
            'mobile_oper_platform','version','card_cert_no','cert_prov','cert_city','card_bin_prov','card_bin_city',
            'card_mobile_prov','card_mobile_city','card_cert_prov','card_cert_city','is_one_people','operation_channel',
            'pay_scene','amt','is_peer_pay','opposing_id','income_card_no','income_card_cert_no','income_card_mobile',
            'income_card_bank_code','province','city','dt','is_fraud']

In [12]:
var_ana_list = ['user_id','client_ip','network','device_sign','info_1','info_2','ip_prov','ip_city',
            'mobile_oper_platform','version','card_cert_no','cert_prov','cert_city','card_bin_prov','card_bin_city',
            'card_mobile_prov','card_mobile_city','card_cert_prov','card_cert_city','is_one_people','operation_channel',
            'pay_scene','amt','is_peer_pay','opposing_id','income_card_no','income_card_cert_no','income_card_mobile',
            'income_card_bank_code','province','city']

## 滑窗SQL

### group_var
- user_id
- opposing_id
- client_ip
- device_sign
- info_1
- info_2

### 总体数量滑窗

In [13]:
def window_sql(var,date,i,group_var,date_gap=3,user='kevin'):
    """
    基于kevin_new_id_all_win_features表统计特征 滑窗交易次数
    """
    if i == 0:
        print("CREATE TABLE IF NOT EXISTS {4}_winFea_{5}_all_count_{3}d AS".format(var,date,i,date_gap,user,group_var))
    else:
        print("INSERT INTO TABLE {4}_winFea_{5}_all_count_{3}d ".format(var,date,i,date_gap,user,group_var))    
    print("""SELECT v.event_id,s.win_{5}_to_count_{3}_num
    FROM(
        SELECT 
            event_id,{5}
        FROM kevin_new_id_all_win_features    
        WHERE gmt_date=to_date('{1}','yyyy-mm-dd')
    ) v 
    LEFT OUTER JOIN (
        SELECT {5}, count(*) AS win_{5}_to_count_{3}_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('{1}','yyyy-mm-dd') and gmt_date>=dateadd(to_date('{1}','yyyy-mm-dd'), -{3}, 'dd')
                and  {5} is not NULL
        GROUP BY {5}
    )s
    ON v.{5} = s.{5};
    """.format(var,date,i,date_gap,user,group_var))

### DISTINCT COUNT 统计

In [14]:
def window_distinct_count_sql(var,date,i,group_var,user_id,opposing_id,client_ip,device_sign,info_1,info_2,date_gap=3,user='kevin'):
    """
    基于kevin_new_id_all_win_features表统计特征
    group_var:需分析的变量
    user_id,opposing_id,client_ip,device_sign,info_1,info_2 为分析变量列表 统一传入 params用于判断是否注释
    """
    if i == 0:
        print("CREATE TABLE IF NOT EXISTS {4}_winFea_{5}_distinct_count_{3}d AS".format(var,date,i,date_gap,user,group_var))
    else:
        print("INSERT INTO TABLE {4}_winFea_{5}_distinct_count_{3}d ".format(var,date,i,date_gap,user,group_var))        
    print("""SELECT v.event_id,
        {6} s.win_{5}_to_user_id_{3}_num,
        {7} s.win_{5}_to_client_ip_{3}_num,
            s.win_{5}_to_network_{3}_num,
        {8} s.win_{5}_to_device_sign_{3}_num,
        {9} s.win_{5}_to_info_1_{3}_num,
       {10} s.win_{5}_to_info_2_{3}_num,
            s.win_{5}_to_ip_prov_{3}_num,
            s.win_{5}_to_ip_city_{3}_num,
            s.win_{5}_to_mobile_oper_platform_{3}_num,
            s.win_{5}_to_version_{3}_num,
            s.win_{5}_to_card_cert_no_{3}_num,
            s.win_{5}_to_cert_prov_{3}_num,
            s.win_{5}_to_cert_city_{3}_num,
            s.win_{5}_to_card_bin_prov_{3}_num,
            s.win_{5}_to_card_bin_city_{3}_num,
            s.win_{5}_to_card_mobile_prov_{3}_num,
            s.win_{5}_to_card_mobile_city_{3}_num,
            s.win_{5}_to_card_cert_prov_{3}_num,
            s.win_{5}_to_card_cert_city_{3}_num,
            s.win_{5}_to_is_one_people_{3}_num,
            s.win_{5}_to_operation_channel_{3}_num,
            s.win_{5}_to_pay_scene_{3}_num,
            s.win_{5}_to_amt_{3}_num,
            s.win_{5}_to_is_peer_pay_{3}_num,
       {11} s.win_{5}_to_opposing_id_{3}_num,
            s.win_{5}_to_income_card_no_{3}_num,
            s.win_{5}_to_income_card_cert_no_{3}_num,
            s.win_{5}_to_income_card_mobile_{3}_num,
            s.win_{5}_to_income_card_bank_code_{3}_num,
            s.win_{5}_to_province_{3}_num,
            s.win_{5}_to_city_{3}_num 
    FROM(
        SELECT 
            event_id,{5}
        FROM kevin_new_id_all_win_features    
        WHERE gmt_date=to_date('{1}','yyyy-mm-dd')
    ) v 
    LEFT OUTER JOIN (
        SELECT 
            {5},
        {6} count(DISTINCT user_id) AS win_{5}_to_user_id_{3}_num,    -- group_var = user_id 时注释
        {7} count(DISTINCT client_ip) AS win_{5}_to_client_ip_{3}_num,
            count(DISTINCT network) AS win_{5}_to_network_{3}_num,
        {8} count(DISTINCT device_sign) AS win_{5}_to_device_sign_{3}_num,
        {9} count(DISTINCT info_1) AS win_{5}_to_info_1_{3}_num,
       {10} count(DISTINCT info_2) AS win_{5}_to_info_2_{3}_num,
            count(DISTINCT ip_prov) AS win_{5}_to_ip_prov_{3}_num,
            count(DISTINCT ip_city) AS win_{5}_to_ip_city_{3}_num,
            count(DISTINCT mobile_oper_platform) AS win_{5}_to_mobile_oper_platform_{3}_num,
            count(DISTINCT version) AS win_{5}_to_version_{3}_num,
            count(DISTINCT card_cert_no) AS win_{5}_to_card_cert_no_{3}_num,
            count(DISTINCT cert_prov) AS win_{5}_to_cert_prov_{3}_num,
            count(DISTINCT cert_city) AS win_{5}_to_cert_city_{3}_num,
            count(DISTINCT card_bin_prov) AS win_{5}_to_card_bin_prov_{3}_num,
            count(DISTINCT card_bin_city) AS win_{5}_to_card_bin_city_{3}_num,
            count(DISTINCT card_mobile_prov) AS win_{5}_to_card_mobile_prov_{3}_num,
            count(DISTINCT card_mobile_city) AS win_{5}_to_card_mobile_city_{3}_num,
            count(DISTINCT card_cert_prov) AS win_{5}_to_card_cert_prov_{3}_num,
            count(DISTINCT card_cert_city) AS win_{5}_to_card_cert_city_{3}_num,
            count(DISTINCT is_one_people) AS win_{5}_to_is_one_people_{3}_num,
            count(DISTINCT operation_channel) AS win_{5}_to_operation_channel_{3}_num,
            count(DISTINCT pay_scene) AS win_{5}_to_pay_scene_{3}_num,
            count(DISTINCT amt) AS win_{5}_to_amt_{3}_num,
            count(DISTINCT is_peer_pay) AS win_{5}_to_is_peer_pay_{3}_num,
       {11} count(DISTINCT opposing_id) AS win_{5}_to_opposing_id_{3}_num,
            count(DISTINCT income_card_no) AS win_{5}_to_income_card_no_{3}_num,
            count(DISTINCT income_card_cert_no) AS win_{5}_to_income_card_cert_no_{3}_num,
            count(DISTINCT income_card_mobile) AS win_{5}_to_income_card_mobile_{3}_num,
            count(DISTINCT income_card_bank_code) AS win_{5}_to_income_card_bank_code_{3}_num,
            count(DISTINCT province) AS win_{5}_to_province_{3}_num,
            count(DISTINCT city) AS win_{5}_to_city_{3}_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('{1}','yyyy-mm-dd') and gmt_date>=dateadd(to_date('{1}','yyyy-mm-dd'), -{3}, 'dd')
                and  {5} is not NULL
        GROUP BY {5}
    )s
    ON v.{5} = s.{5};
    """.format(var,date,i,date_gap,user,group_var,user_id,client_ip,device_sign,info_1,info_2,opposing_id,))

### 滑窗金额合计

In [15]:
def window_sum_amt_sql(var,date,i,date_gap=3,user='kevin'):
    """
    基于kevin_new_id_all_win_features表统计特征 滑窗交易金额和
    """
    if i == 0:
        print("CREATE TABLE IF NOT EXISTS {4}_winFea_{5}_sum_amt_{3}d AS".format(var,date,i,date_gap,user,group_var))
    else:
        print("INSERT INTO TABLE {4}_winFea_{5}_sum_amt_{3}d ".format(var,date,i,date_gap,user,group_var))   
    print("""SELECT v.event_id,
    (case when s.win_sum_amt_{3}_num is NULL then 0 else s.win_sum_amt_{3}_num end) as win_sum_amt_{3}_num
    FROM(
        SELECT 
            event_id,{5}
        FROM kevin_new_id_all_win_features    
        WHERE gmt_date=to_date('{1}','yyyy-mm-dd')
    ) v 
    LEFT OUTER JOIN (
        SELECT {5}, sum(amt) AS win_sum_amt_{3}_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('{1}','yyyy-mm-dd') and gmt_date>=dateadd(to_date('{1}','yyyy-mm-dd'), -{3}, 'dd')
                and  {5} is not NULL
        GROUP BY {5}
    )s
    ON v.{5} = s.{5};
    """.format(var,date,i,date_gap,user,group_var))

In [16]:
def window_sum_amt_count_sql(var,date,i,group_var,date_gap=3,user='kevin'):
    """
    基于kevin_new_id_all_win_features表统计特征
    只统计过去滑窗的gmt_occur出现次数
    """
    if i == 0:
        print("CREATE TABLE IF NOT EXISTS {4}_winFea_{5}_distinct_gmt_count_{3}d AS".format(var,date,i,date_gap,user,group_var))
    else:
        print("INSERT INTO TABLE {4}_winFea_{5}_distinct_gmt_count_{3}d ".format(var,date,i,date_gap,user,group_var))       
    print("""SELECT v.event_id,
            s.win_gmt_occur_{3}_num,
            s.win_gmt_date_{3}_num
    FROM(
        SELECT 
            event_id,{5}
        FROM kevin_new_id_all_win_features    
        WHERE gmt_date=to_date('{1}','yyyy-mm-dd')
    ) v 
    LEFT OUTER JOIN (
        SELECT 
            {5},
            count(DISTINCT gmt_datetime) AS win_gmt_occur_{3}_num,
            count(DISTINCT gmt_date) AS win_gmt_date_{3}_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('{1}','yyyy-mm-dd') and gmt_date>=dateadd(to_date('{1}','yyyy-mm-dd'), -{3}, 'dd')
                and  {5} is not NULL
        GROUP BY {5}
    )s
    ON v.{5} = s.{5};
    """.format(var,date,i,date_gap,user,group_var))

### 历史交易次数

In [17]:
def window_his_sql(var,date,i,group_var,date_gap=3,user='kevin'):
    """
    基于kevin_new_id_all_win_features表统计特征 之前历史交易次数
    """
    if i == 0:
        print("CREATE TABLE IF NOT EXISTS {4}_histFea_{5}_all_count AS".format(var,date,i,date_gap,user,group_var))
    else:
        print("INSERT INTO TABLE {4}_histFea_{5}_all_count".format(var,date,i,date_gap,user,group_var))    
    print("""SELECT v.event_id,s.hist_{5}_count_num
    FROM(
        SELECT 
            event_id,{5}
        FROM kevin_new_id_all_win_features    
        WHERE gmt_date=to_date('{1}','yyyy-mm-dd')
    ) v 
    LEFT OUTER JOIN (
        SELECT {5}, count(*) AS hist_{5}_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('{1}','yyyy-mm-dd') and  source in ('train','test')
                and  {5} is not NULL
        GROUP BY {5}
    )s
    ON v.{5} = s.{5};
    """.format(var,date,i,date_gap,user,group_var))

In [18]:
def history_sql(var,var_ana_list,group_var,user='kevin'):
    """
    基于kevin_new_id_all_win_features表统计特征 滑窗交易次数
    """ 

    print("""
    CREATE TABLE IF NOT EXISTS  {2}_{1}_date_hist_count as        
    SELECT
        s.event_id,s.{1},""".format(var,group_var,user))

    for var in var_ana_list:
        if var not in group_var:
            print("""
                {0}.{0}, 
                {0}.rn-1  as hist_count_{0}_num,         
            """.format(var,group_var))
        
    print("""
    s.gmt_datetime
    FROM
    (SELECT *   
     FROM  kevin_new_id_all_win_features
      WHERE  source in ('train','test') ) s
    """.format(var,group_var))
        
    for var in var_ana_list:
        if var not in group_var:
            print("""
              LEFT OUTER JOIN 
            (
              SELECT 
                event_id, {1},{0}, gmt_datetime,
                rank() over(partition by {1},{0} order by gmt_datetime ) rn 
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  {1} is not NULL
            ) {0}
            on s.event_id = {0}.event_id
            """.format(var,group_var))

In [19]:
def history_fenmu_sql(group_var,user='kevin'):

    # -- 统计时间差  以及过去交易情况——做分母
    print("""CREATE TABLE IF NOT EXISTS {1}_{0}_date_gap_count AS
      SELECT t.event_id 
           ,t.{0} 
           ,t.gmt_datetime 
           ,t.gmt_datetime_last 
           ,DATEDIFF(gmt_datetime ,gmt_datetime_last ,'hh') AS gmt_time_gap 
           ,(case when (t.rn-1) = 0 then 0.001 else (t.rn-1) end)             AS hist_{0}_count_num2 
       FROM (SELECT event_id 
                   ,{0} 
                   ,gmt_datetime 
                   ,LAG(gmt_datetime ,1) OVER ( PARTITION BY {0} ORDER BY gmt_datetime ) gmt_datetime_last 
                   ,RANK() OVER ( PARTITION BY {0} ORDER BY gmt_datetime ) rn                              -- ,
             --     row_number() over(partition by {0} order by gmt_datetime ) rn1
               FROM kevin_id_all_win_features 
              WHERE source IN ( 'train' , 'test' ) 
            )t 
    ;""".format(group_var,user)
    )

In [20]:
def history_prec_sql(group_var,df_fenzi,df_fenmu,user_id,opposing_id,client_ip,device_sign,info_1,info_2,user='kevin'):
    print("""
            CREATE TABLE IF NOT EXISTS {9}_prec_{0}_all_data as 
            SELECT s.event_id 
                  ,s.{0} 
                  ,s.gmt_datetime_last 
                  ,s.hist_{0}_count_num2
              {3} ,t.hist_count_user_id_num / s.hist_{0}_count_num2              AS hist_prec_{0}_user_id
              {4} ,t.hist_count_client_ip_num / s.hist_{0}_count_num2             AS hist_prec_{0}_client_ip 
                  ,t.hist_count_network_num / s.hist_{0}_count_num2               AS hist_prec_{0}_network 
              {5} ,t.hist_count_device_sign_num / s.hist_{0}_count_num2           AS hist_prec_{0}_device_sign 
              {6} ,t.hist_count_info_1_num / s.hist_{0}_count_num2                AS hist_prec_{0}_info_1 
              {7} ,t.hist_count_info_2_num / s.hist_{0}_count_num2                AS hist_prec_{0}_info_2 
                  ,t.hist_count_ip_prov_num / s.hist_{0}_count_num2               AS hist_prec_{0}_ip_prov 
                  ,t.hist_count_ip_city_num / s.hist_{0}_count_num2               AS hist_prec_{0}_ip_city 
                  ,t.hist_count_mobile_oper_platform_num / s.hist_{0}_count_num2  AS hist_prec_{0}_mobile_oper_platform 
                  ,t.hist_count_version_num / s.hist_{0}_count_num2               AS hist_prec_{0}_version 
                  ,t.hist_count_card_cert_no_num / s.hist_{0}_count_num2          AS hist_prec_{0}_card_cert_no 
                  ,t.hist_count_cert_prov_num / s.hist_{0}_count_num2             AS hist_prec_{0}_cert_prov 
                  ,t.hist_count_cert_city_num / s.hist_{0}_count_num2             AS hist_prec_{0}_cert_city 
                  ,t.hist_count_card_bin_prov_num / s.hist_{0}_count_num2         AS hist_prec_{0}_card_bin_prov 
                  ,t.hist_count_card_bin_city_num / s.hist_{0}_count_num2         AS hist_prec_{0}_card_bin_city 
                  ,t.hist_count_card_mobile_prov_num / s.hist_{0}_count_num2      AS hist_prec_{0}_card_mobile_prov 
                  ,t.hist_count_card_mobile_city_num / s.hist_{0}_count_num2      AS hist_prec_{0}_card_mobile_city 
                  ,t.hist_count_card_cert_prov_num / s.hist_{0}_count_num2        AS hist_prec_{0}_card_cert_prov 
                  ,t.hist_count_card_cert_city_num / s.hist_{0}_count_num2        AS hist_prec_{0}_card_cert_city 
                  ,t.hist_count_is_one_people_num / s.hist_{0}_count_num2         AS hist_prec_{0}_is_one_people 
                  ,t.hist_count_operation_channel_num / s.hist_{0}_count_num2     AS hist_prec_{0}_operation_channel 
                  ,t.hist_count_pay_scene_num / s.hist_{0}_count_num2             AS hist_prec_{0}_pay_scene 
                  ,t.hist_count_amt_num / s.hist_{0}_count_num2                   AS hist_prec_{0}_amt 
                  ,t.hist_count_is_peer_pay_num / s.hist_{0}_count_num2           AS hist_prec_{0}_is_peer_pay 
              {8} ,t.hist_count_opposing_id_num / s.hist_{0}_count_num2           AS hist_prec_{0}_opposing_id 
                  ,t.hist_count_income_card_no_num / s.hist_{0}_count_num2        AS hist_prec_{0}_income_card_no 
                  ,t.hist_count_income_card_cert_no_num / s.hist_{0}_count_num2   AS hist_prec_{0}_income_card_cert_no 
                  ,t.hist_count_income_card_mobile_num / s.hist_{0}_count_num2    AS hist_prec_{0}_income_card_mobile 
                  ,t.hist_count_income_card_bank_code_num / s.hist_{0}_count_num2 AS hist_prec_{0}_income_card_bank_code 
                  ,t.hist_count_province_num / s.hist_{0}_count_num2              AS hist_prec_{0}_province 
                  ,t.hist_count_city_num / s.hist_{0}_count_num2                  AS hist_prec_{0}_city 
              FROM {1} s 
            LEFT OUTER JOIN  {2} t 
                ON t.event_id = s.event_id
            ;""".format(group_var,df_fenmu,df_fenzi,user_id,client_ip,device_sign,info_1,info_2,opposing_id,user)
         )

# 跑取程序

In [21]:
# Train
train_date = pd.date_range('2017-09-05','2017-11-05').tolist()
# Tset
test_date = pd.date_range('2018-01-05','2018-02-05').tolist()

In [22]:
group_var = 'client_ip'
var = '-'

for i,d in enumerate(train_date+test_date):
    day = datetime.strftime(d,'%Y-%m-%d')
    window_sql(var,day,i,group_var=group_var,date_gap=7,user='kevin_new')

CREATE TABLE IF NOT EXISTS kevin_new_winFea_client_ip_all_count_7d AS
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-05','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-05','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-05','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-06','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-06','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-06','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-07','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-07','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-07','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-08','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-08','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-08','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-09','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-09','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-09','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-10','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-10','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-10','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-11','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-11','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-11','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-12','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-12','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-12','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-13','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-13','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-13','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-14','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-14','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-14','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-15','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-15','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-15','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-16','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-16','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-16','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-17','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-17','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-17','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-18','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-18','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-18','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-19','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-19','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-19','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-20','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-20','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-20','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-21','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-21','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-21','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-22','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-22','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-22','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-23','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-23','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-23','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-24','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-24','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-24','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-25','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-25','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-25','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-26','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-26','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-26','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-27','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-27','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-27','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-28','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-28','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-28','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-29','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-29','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-29','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-30','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-30','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-30','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-01','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-01','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-10-01','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-02','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-02','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-10-02','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-03','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-03','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-10-03','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-04','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-04','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-10-04','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_all_count_7d
SELECT v.event_id,s.win_client_ip_to_count_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-05','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, count(*) AS win_client_ip_to_count_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-05','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-10-05','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;


In [23]:
# distinct count

group_var = 'client_ip'

params = {'user_id':'',
'opposing_id':'',
'client_ip':'--',
'device_sign':'',
'info_1':'',
'info_2':''}

var = '-'

for i,d in enumerate(train_date+test_date):
    day = datetime.strftime(d,'%Y-%m-%d')
    window_distinct_count_sql(var,day,i,group_var=group_var,**params,date_gap=7,user='kevin')

CREATE TABLE IF NOT EXISTS kevin_winFea_client_ip_distinct_count_7d AS
SELECT v.event_id,
         s.win_client_ip_to_user_id_7_num,
        -- s.win_client_ip_to_client_ip_7_num,
            s.win_client_ip_to_network_7_num,
         s.win_client_ip_to_device_sign_7_num,
         s.win_client_ip_to_info_1_7_num,
        s.win_client_ip_to_info_2_7_num,
            s.win_client_ip_to_ip_prov_7_num,
            s.win_client_ip_to_ip_city_7_num,
            s.win_client_ip_to_mobile_oper_platform_7_num,
            s.win_client_ip_to_version_7_num,
            s.win_client_ip_to_card_cert_no_7_num,
            s.win_client_ip_to_cert_prov_7_num,
            s.win_client_ip_to_cert_city_7_num,
            s.win_client_ip_to_card_bin_prov_7_num,
            s.win_client_ip_to_card_bin_city_7_num,
            s.win_client_ip_to_card_mobile_prov_7_num,
            s.win_client_ip_to_card_mobile_city_7_num,
            s.win_client_ip_to_card_cert_prov_7_num,
            s.win_client_ip_to_card_cert_city_7_num,
            s.win_client_ip_to_is_one_people_7_num,
            s.win_client_ip_to_operation_channel_7_num,
            s.win_client_ip_to_pay_scene_7_num,
            s.win_client_ip_to_amt_7_num,
            s.win_client_ip_to_is_peer_pay_7_num,
        s.win_client_ip_to_opposing_id_7_num,
            s.win_client_ip_to_income_card_no_7_num,
            s.win_client_ip_to_income_card_cert_no_7_num,
            s.win_client_ip_to_income_card_mobile_7_num,
            s.win_client_ip_to_income_card_bank_code_7_num,
            s.win_client_ip_to_province_7_num,
            s.win_client_ip_to_city_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-05','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT
            client_ip,
         count(DISTINCT user_id) AS win_client_ip_to_user_id_7_num,    -- group_var = user_id 时注释
        -- count(DISTINCT client_ip) AS win_client_ip_to_client_ip_7_num,
            count(DISTINCT network) AS win_client_ip_to_network_7_num,
         count(DISTINCT device_sign) AS win_client_ip_to_device_sign_7_num,
         count(DISTINCT info_1) AS win_client_ip_to_info_1_7_num,
        count(DISTINCT info_2) AS win_client_ip_to_info_2_7_num,
            count(DISTINCT ip_prov) AS win_client_ip_to_ip_prov_7_num,
            count(DISTINCT ip_city) AS win_client_ip_to_ip_city_7_num,
            count(DISTINCT mobile_oper_platform) AS win_client_ip_to_mobile_oper_platform_7_num,
            count(DISTINCT version) AS win_client_ip_to_version_7_num,
            count(DISTINCT card_cert_no) AS win_client_ip_to_card_cert_no_7_num,
            count(DISTINCT cert_prov) AS win_client_ip_to_cert_prov_7_num,
            count(DISTINCT cert_city) AS win_client_ip_to_cert_city_7_num,
            count(DISTINCT card_bin_prov) AS win_client_ip_to_card_bin_prov_7_num,
            count(DISTINCT card_bin_city) AS win_client_ip_to_card_bin_city_7_num,
            count(DISTINCT card_mobile_prov) AS win_client_ip_to_card_mobile_prov_7_num,
            count(DISTINCT card_mobile_city) AS win_client_ip_to_card_mobile_city_7_num,
            count(DISTINCT card_cert_prov) AS win_client_ip_to_card_cert_prov_7_num,
            count(DISTINCT card_cert_city) AS win_client_ip_to_card_cert_city_7_num,
            count(DISTINCT is_one_people) AS win_client_ip_to_is_one_people_7_num,
            count(DISTINCT operation_channel) AS win_client_ip_to_operation_channel_7_num,
            count(DISTINCT pay_scene) AS win_client_ip_to_pay_scene_7_num,
            count(DISTINCT amt) AS win_client_ip_to_amt_7_num,
            count(DISTINCT is_peer_pay) AS win_client_ip_to_is_peer_pay_7_num,
        count(DISTINCT opposing_id) AS win_client_ip_to_opposing_id_7_num,
            count(DISTINCT income_card_no) AS win_client_ip_to_income_card_no_7_num,
            count(DISTINCT income_card_cert_no) AS win_client_ip_to_income_card_cert_no_7_num,
            count(DISTINCT income_card_mobile) AS win_client_ip_to_income_card_mobile_7_num,
            count(DISTINCT income_card_bank_code) AS win_client_ip_to_income_card_bank_code_7_num,
            count(DISTINCT province) AS win_client_ip_to_province_7_num,
            count(DISTINCT city) AS win_client_ip_to_city_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-05','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-05','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_winFea_client_ip_distinct_count_7d
SELECT v.event_id,
         s.win_client_ip_to_user_id_7_num,
        -- s.win_client_ip_to_client_ip_7_num,
            s.win_client_ip_to_network_7_num,
         s.win_client_ip_to_device_sign_7_num,
         s.win_client_ip_to_info_1_7_num,
        s.win_client_ip_to_info_2_7_num,
            s.win_client_ip_to_ip_prov_7_num,
            s.win_client_ip_to_ip_city_7_num,
            s.win_client_ip_to_mobile_oper_platform_7_num,
            s.win_client_ip_to_version_7_num,
            s.win_client_ip_to_card_cert_no_7_num,
            s.win_client_ip_to_cert_prov_7_num,
            s.win_client_ip_to_cert_city_7_num,
            s.win_client_ip_to_card_bin_prov_7_num,
            s.win_client_ip_to_card_bin_city_7_num,
            s.win_client_ip_to_card_mobile_prov_7_num,
            s.win_client_ip_to_card_mobile_city_7_num,
            s.win_client_ip_to_card_cert_prov_7_num,
            s.win_client_ip_to_card_cert_city_7_num,
            s.win_client_ip_to_is_one_people_7_num,
            s.win_client_ip_to_operation_channel_7_num,
            s.win_client_ip_to_pay_scene_7_num,
            s.win_client_ip_to_amt_7_num,
            s.win_client_ip_to_is_peer_pay_7_num,
        s.win_client_ip_to_opposing_id_7_num,
            s.win_client_ip_to_income_card_no_7_num,
            s.win_client_ip_to_income_card_cert_no_7_num,
            s.win_client_ip_to_income_card_mobile_7_num,
            s.win_client_ip_to_income_card_bank_code_7_num,
            s.win_client_ip_to_province_7_num,
            s.win_client_ip_to_city_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-06','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT
            client_ip,
         count(DISTINCT user_id) AS win_client_ip_to_user_id_7_num,    -- group_var = user_id 时注释
        -- count(DISTINCT client_ip) AS win_client_ip_to_client_ip_7_num,
            count(DISTINCT network) AS win_client_ip_to_network_7_num,
         count(DISTINCT device_sign) AS win_client_ip_to_device_sign_7_num,
         count(DISTINCT info_1) AS win_client_ip_to_info_1_7_num,
        count(DISTINCT info_2) AS win_client_ip_to_info_2_7_num,
            count(DISTINCT ip_prov) AS win_client_ip_to_ip_prov_7_num,
            count(DISTINCT ip_city) AS win_client_ip_to_ip_city_7_num,
            count(DISTINCT mobile_oper_platform) AS win_client_ip_to_mobile_oper_platform_7_num,
            count(DISTINCT version) AS win_client_ip_to_version_7_num,
            count(DISTINCT card_cert_no) AS win_client_ip_to_card_cert_no_7_num,
            count(DISTINCT cert_prov) AS win_client_ip_to_cert_prov_7_num,
            count(DISTINCT cert_city) AS win_client_ip_to_cert_city_7_num,
            count(DISTINCT card_bin_prov) AS win_client_ip_to_card_bin_prov_7_num,
            count(DISTINCT card_bin_city) AS win_client_ip_to_card_bin_city_7_num,
            count(DISTINCT card_mobile_prov) AS win_client_ip_to_card_mobile_prov_7_num,
            count(DISTINCT card_mobile_city) AS win_client_ip_to_card_mobile_city_7_num,
            count(DISTINCT card_cert_prov) AS win_client_ip_to_card_cert_prov_7_num,
            count(DISTINCT card_cert_city) AS win_client_ip_to_card_cert_city_7_num,
            count(DISTINCT is_one_people) AS win_client_ip_to_is_one_people_7_num,
            count(DISTINCT operation_channel) AS win_client_ip_to_operation_channel_7_num,
            count(DISTINCT pay_scene) AS win_client_ip_to_pay_scene_7_num,
            count(DISTINCT amt) AS win_client_ip_to_amt_7_num,
            count(DISTINCT is_peer_pay) AS win_client_ip_to_is_peer_pay_7_num,
        count(DISTINCT opposing_id) AS win_client_ip_to_opposing_id_7_num,
            count(DISTINCT income_card_no) AS win_client_ip_to_income_card_no_7_num,
            count(DISTINCT income_card_cert_no) AS win_client_ip_to_income_card_cert_no_7_num,
            count(DISTINCT income_card_mobile) AS win_client_ip_to_income_card_mobile_7_num,
            count(DISTINCT income_card_bank_code) AS win_client_ip_to_income_card_bank_code_7_num,
            count(DISTINCT province) AS win_client_ip_to_province_7_num,
            count(DISTINCT city) AS win_client_ip_to_city_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-06','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-06','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_winFea_client_ip_distinct_count_7d
SELECT v.event_id,
         s.win_client_ip_to_user_id_7_num,
        -- s.win_client_ip_to_client_ip_7_num,
            s.win_client_ip_to_network_7_num,
         s.win_client_ip_to_device_sign_7_num,
         s.win_client_ip_to_info_1_7_num,
        s.win_client_ip_to_info_2_7_num,
            s.win_client_ip_to_ip_prov_7_num,
            s.win_client_ip_to_ip_city_7_num,
            s.win_client_ip_to_mobile_oper_platform_7_num,
            s.win_client_ip_to_version_7_num,
            s.win_client_ip_to_card_cert_no_7_num,
            s.win_client_ip_to_cert_prov_7_num,
            s.win_client_ip_to_cert_city_7_num,
            s.win_client_ip_to_card_bin_prov_7_num,
            s.win_client_ip_to_card_bin_city_7_num,
            s.win_client_ip_to_card_mobile_prov_7_num,
            s.win_client_ip_to_card_mobile_city_7_num,
            s.win_client_ip_to_card_cert_prov_7_num,
            s.win_client_ip_to_card_cert_city_7_num,
            s.win_client_ip_to_is_one_people_7_num,
            s.win_client_ip_to_operation_channel_7_num,
            s.win_client_ip_to_pay_scene_7_num,
            s.win_client_ip_to_amt_7_num,
            s.win_client_ip_to_is_peer_pay_7_num,
        s.win_client_ip_to_opposing_id_7_num,
            s.win_client_ip_to_income_card_no_7_num,
            s.win_client_ip_to_income_card_cert_no_7_num,
            s.win_client_ip_to_income_card_mobile_7_num,
            s.win_client_ip_to_income_card_bank_code_7_num,
            s.win_client_ip_to_province_7_num,
            s.win_client_ip_to_city_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-07','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT
            client_ip,
         count(DISTINCT user_id) AS win_client_ip_to_user_id_7_num,    -- group_var = user_id 时注释
        -- count(DISTINCT client_ip) AS win_client_ip_to_client_ip_7_num,
            count(DISTINCT network) AS win_client_ip_to_network_7_num,
         count(DISTINCT device_sign) AS win_client_ip_to_device_sign_7_num,
         count(DISTINCT info_1) AS win_client_ip_to_info_1_7_num,
        count(DISTINCT info_2) AS win_client_ip_to_info_2_7_num,
            count(DISTINCT ip_prov) AS win_client_ip_to_ip_prov_7_num,
            count(DISTINCT ip_city) AS win_client_ip_to_ip_city_7_num,
            count(DISTINCT mobile_oper_platform) AS win_client_ip_to_mobile_oper_platform_7_num,
            count(DISTINCT version) AS win_client_ip_to_version_7_num,
            count(DISTINCT card_cert_no) AS win_client_ip_to_card_cert_no_7_num,
            count(DISTINCT cert_prov) AS win_client_ip_to_cert_prov_7_num,
            count(DISTINCT cert_city) AS win_client_ip_to_cert_city_7_num,
            count(DISTINCT card_bin_prov) AS win_client_ip_to_card_bin_prov_7_num,
            count(DISTINCT card_bin_city) AS win_client_ip_to_card_bin_city_7_num,
            count(DISTINCT card_mobile_prov) AS win_client_ip_to_card_mobile_prov_7_num,
            count(DISTINCT card_mobile_city) AS win_client_ip_to_card_mobile_city_7_num,
            count(DISTINCT card_cert_prov) AS win_client_ip_to_card_cert_prov_7_num,
            count(DISTINCT card_cert_city) AS win_client_ip_to_card_cert_city_7_num,
            count(DISTINCT is_one_people) AS win_client_ip_to_is_one_people_7_num,
            count(DISTINCT operation_channel) AS win_client_ip_to_operation_channel_7_num,
            count(DISTINCT pay_scene) AS win_client_ip_to_pay_scene_7_num,
            count(DISTINCT amt) AS win_client_ip_to_amt_7_num,
            count(DISTINCT is_peer_pay) AS win_client_ip_to_is_peer_pay_7_num,
        count(DISTINCT opposing_id) AS win_client_ip_to_opposing_id_7_num,
            count(DISTINCT income_card_no) AS win_client_ip_to_income_card_no_7_num,
            count(DISTINCT income_card_cert_no) AS win_client_ip_to_income_card_cert_no_7_num,
            count(DISTINCT income_card_mobile) AS win_client_ip_to_income_card_mobile_7_num,
            count(DISTINCT income_card_bank_code) AS win_client_ip_to_income_card_bank_code_7_num,
            count(DISTINCT province) AS win_client_ip_to_province_7_num,
            count(DISTINCT city) AS win_client_ip_to_city_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-07','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-07','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_winFea_client_ip_distinct_count_7d
SELECT v.event_id,
         s.win_client_ip_to_user_id_7_num,
        -- s.win_client_ip_to_client_ip_7_num,
            s.win_client_ip_to_network_7_num,
         s.win_client_ip_to_device_sign_7_num,
         s.win_client_ip_to_info_1_7_num,
        s.win_client_ip_to_info_2_7_num,
            s.win_client_ip_to_ip_prov_7_num,
            s.win_client_ip_to_ip_city_7_num,
            s.win_client_ip_to_mobile_oper_platform_7_num,
            s.win_client_ip_to_version_7_num,
            s.win_client_ip_to_card_cert_no_7_num,
            s.win_client_ip_to_cert_prov_7_num,
            s.win_client_ip_to_cert_city_7_num,
            s.win_client_ip_to_card_bin_prov_7_num,
            s.win_client_ip_to_card_bin_city_7_num,
            s.win_client_ip_to_card_mobile_prov_7_num,
            s.win_client_ip_to_card_mobile_city_7_num,
            s.win_client_ip_to_card_cert_prov_7_num,
            s.win_client_ip_to_card_cert_city_7_num,
            s.win_client_ip_to_is_one_people_7_num,
            s.win_client_ip_to_operation_channel_7_num,
            s.win_client_ip_to_pay_scene_7_num,
            s.win_client_ip_to_amt_7_num,
            s.win_client_ip_to_is_peer_pay_7_num,
        s.win_client_ip_to_opposing_id_7_num,
            s.win_client_ip_to_income_card_no_7_num,
            s.win_client_ip_to_income_card_cert_no_7_num,
            s.win_client_ip_to_income_card_mobile_7_num,
            s.win_client_ip_to_income_card_bank_code_7_num,
            s.win_client_ip_to_province_7_num,
            s.win_client_ip_to_city_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-08','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT
            client_ip,
         count(DISTINCT user_id) AS win_client_ip_to_user_id_7_num,    -- group_var = user_id 时注释
        -- count(DISTINCT client_ip) AS win_client_ip_to_client_ip_7_num,
            count(DISTINCT network) AS win_client_ip_to_network_7_num,
         count(DISTINCT device_sign) AS win_client_ip_to_device_sign_7_num,
         count(DISTINCT info_1) AS win_client_ip_to_info_1_7_num,
        count(DISTINCT info_2) AS win_client_ip_to_info_2_7_num,
            count(DISTINCT ip_prov) AS win_client_ip_to_ip_prov_7_num,
            count(DISTINCT ip_city) AS win_client_ip_to_ip_city_7_num,
            count(DISTINCT mobile_oper_platform) AS win_client_ip_to_mobile_oper_platform_7_num,
            count(DISTINCT version) AS win_client_ip_to_version_7_num,
            count(DISTINCT card_cert_no) AS win_client_ip_to_card_cert_no_7_num,
            count(DISTINCT cert_prov) AS win_client_ip_to_cert_prov_7_num,
            count(DISTINCT cert_city) AS win_client_ip_to_cert_city_7_num,
            count(DISTINCT card_bin_prov) AS win_client_ip_to_card_bin_prov_7_num,
            count(DISTINCT card_bin_city) AS win_client_ip_to_card_bin_city_7_num,
            count(DISTINCT card_mobile_prov) AS win_client_ip_to_card_mobile_prov_7_num,
            count(DISTINCT card_mobile_city) AS win_client_ip_to_card_mobile_city_7_num,
            count(DISTINCT card_cert_prov) AS win_client_ip_to_card_cert_prov_7_num,
            count(DISTINCT card_cert_city) AS win_client_ip_to_card_cert_city_7_num,
            count(DISTINCT is_one_people) AS win_client_ip_to_is_one_people_7_num,
            count(DISTINCT operation_channel) AS win_client_ip_to_operation_channel_7_num,
            count(DISTINCT pay_scene) AS win_client_ip_to_pay_scene_7_num,
            count(DISTINCT amt) AS win_client_ip_to_amt_7_num,
            count(DISTINCT is_peer_pay) AS win_client_ip_to_is_peer_pay_7_num,
        count(DISTINCT opposing_id) AS win_client_ip_to_opposing_id_7_num,
            count(DISTINCT income_card_no) AS win_client_ip_to_income_card_no_7_num,
            count(DISTINCT income_card_cert_no) AS win_client_ip_to_income_card_cert_no_7_num,
            count(DISTINCT income_card_mobile) AS win_client_ip_to_income_card_mobile_7_num,
            count(DISTINCT income_card_bank_code) AS win_client_ip_to_income_card_bank_code_7_num,
            count(DISTINCT province) AS win_client_ip_to_province_7_num,
            count(DISTINCT city) AS win_client_ip_to_city_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-08','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-08','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_winFea_client_ip_distinct_count_7d
SELECT v.event_id,
         s.win_client_ip_to_user_id_7_num,
        -- s.win_client_ip_to_client_ip_7_num,
            s.win_client_ip_to_network_7_num,
         s.win_client_ip_to_device_sign_7_num,
         s.win_client_ip_to_info_1_7_num,
        s.win_client_ip_to_info_2_7_num,
            s.win_client_ip_to_ip_prov_7_num,
            s.win_client_ip_to_ip_city_7_num,
            s.win_client_ip_to_mobile_oper_platform_7_num,
            s.win_client_ip_to_version_7_num,
            s.win_client_ip_to_card_cert_no_7_num,
            s.win_client_ip_to_cert_prov_7_num,
            s.win_client_ip_to_cert_city_7_num,
            s.win_client_ip_to_card_bin_prov_7_num,
            s.win_client_ip_to_card_bin_city_7_num,
            s.win_client_ip_to_card_mobile_prov_7_num,
            s.win_client_ip_to_card_mobile_city_7_num,
            s.win_client_ip_to_card_cert_prov_7_num,
            s.win_client_ip_to_card_cert_city_7_num,
            s.win_client_ip_to_is_one_people_7_num,
            s.win_client_ip_to_operation_channel_7_num,
            s.win_client_ip_to_pay_scene_7_num,
            s.win_client_ip_to_amt_7_num,
            s.win_client_ip_to_is_peer_pay_7_num,
        s.win_client_ip_to_opposing_id_7_num,
            s.win_client_ip_to_income_card_no_7_num,
            s.win_client_ip_to_income_card_cert_no_7_num,
            s.win_client_ip_to_income_card_mobile_7_num,
            s.win_client_ip_to_income_card_bank_code_7_num,

In [25]:
# 交易金额的合计
var = 'gmt_occur'
# for var in var_ana_list:
#     print("-- ************************{}***************************".format(var))
for i,d in enumerate(train_date+test_date):
    day = datetime.strftime(d,'%Y-%m-%d')
    window_sum_amt_sql(var,day,i,date_gap=7,user='kevin_new')

CREATE TABLE IF NOT EXISTS kevin_new_winFea_client_ip_sum_amt_7d AS
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-05','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-05','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-05','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-06','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-06','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-06','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-07','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-07','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-07','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-08','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-08','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-08','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-09','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-09','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-09','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-10','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-10','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-10','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-11','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-11','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-11','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-12','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-12','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-12','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-13','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-13','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-13','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-14','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-14','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-14','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-15','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-15','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-15','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-16','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-16','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-16','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-17','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-17','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-17','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-18','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-18','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-18','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-19','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-19','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-19','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-20','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-20','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-20','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-21','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-21','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-21','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-22','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-22','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-22','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-23','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-23','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-23','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-24','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-24','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-24','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-25','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-25','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-25','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-26','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-26','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-26','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-27','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-27','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-27','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-28','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-28','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-28','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-29','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-29','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-29','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-30','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-30','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-09-30','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-01','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-01','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-10-01','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-02','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT client_ip, sum(amt) AS win_sum_amt_7_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-02','yyyy-mm-dd') and gmt_date>=dateadd(to_date('2017-10-02','yyyy-mm-dd'), -7, 'dd')
                and  client_ip is not NULL
        GROUP BY client_ip
    )s
    ON v.client_ip = s.client_ip;

INSERT INTO TABLE kevin_new_winFea_client_ip_sum_amt_7d
SELECT v.event_id,
    (case when s.win_sum_amt_7_num is NULL then 0 else s.win_sum_amt_7_num end) as win_sum_amt_7_num
    FROM(
        SELECT
            event_id,client_ip
        FROM kevin_new_id_all_win_features

### 历史情况

In [26]:
# 分子

# 历史交易统计次数
# group_var = 'opposing_id'
# group_var = 'client_ip'
# group_var = 'device_sign'
# group_var = 'info_1'
group_var = 'info_2'
history_sql(var,var_ana_list,group_var,user='kevin')

    CREATE TABLE IF NOT EXISTS  kevin_info_2_date_hist_count as
    SELECT
        s.event_id,s.info_2,

                user_id.user_id,
                user_id.rn-1  as hist_count_user_id_num,


                client_ip.client_ip,
                client_ip.rn-1  as hist_count_client_ip_num,


                network.network,
                network.rn-1  as hist_count_network_num,


                device_sign.device_sign,
                device_sign.rn-1  as hist_count_device_sign_num,


                info_1.info_1,
                info_1.rn-1  as hist_count_info_1_num,


                ip_prov.ip_prov,
                ip_prov.rn-1  as hist_count_ip_prov_num,


                ip_city.ip_city,
                ip_city.rn-1  as hist_count_ip_city_num,


                mobile_oper_platform.mobile_oper_platform,
                mobile_oper_platform.rn-1  as hist_count_mobile_oper_platform_num,


                version.version,
                version.rn-1  as hist_count_version_num,


                card_cert_no.card_cert_no,
                card_cert_no.rn-1  as hist_count_card_cert_no_num,


                cert_prov.cert_prov,
                cert_prov.rn-1  as hist_count_cert_prov_num,


                cert_city.cert_city,
                cert_city.rn-1  as hist_count_cert_city_num,


                card_bin_prov.card_bin_prov,
                card_bin_prov.rn-1  as hist_count_card_bin_prov_num,


                card_bin_city.card_bin_city,
                card_bin_city.rn-1  as hist_count_card_bin_city_num,


                card_mobile_prov.card_mobile_prov,
                card_mobile_prov.rn-1  as hist_count_card_mobile_prov_num,


                card_mobile_city.card_mobile_city,
                card_mobile_city.rn-1  as hist_count_card_mobile_city_num,


                card_cert_prov.card_cert_prov,
                card_cert_prov.rn-1  as hist_count_card_cert_prov_num,


                card_cert_city.card_cert_city,
                card_cert_city.rn-1  as hist_count_card_cert_city_num,


                is_one_people.is_one_people,
                is_one_people.rn-1  as hist_count_is_one_people_num,


                operation_channel.operation_channel,
                operation_channel.rn-1  as hist_count_operation_channel_num,


                pay_scene.pay_scene,
                pay_scene.rn-1  as hist_count_pay_scene_num,


                amt.amt,
                amt.rn-1  as hist_count_amt_num,


                is_peer_pay.is_peer_pay,
                is_peer_pay.rn-1  as hist_count_is_peer_pay_num,


                opposing_id.opposing_id,
                opposing_id.rn-1  as hist_count_opposing_id_num,


                income_card_no.income_card_no,
                income_card_no.rn-1  as hist_count_income_card_no_num,


                income_card_cert_no.income_card_cert_no,
                income_card_cert_no.rn-1  as hist_count_income_card_cert_no_num,


                income_card_mobile.income_card_mobile,
                income_card_mobile.rn-1  as hist_count_income_card_mobile_num,


                income_card_bank_code.income_card_bank_code,
                income_card_bank_code.rn-1  as hist_count_income_card_bank_code_num,


                province.province,
                province.rn-1  as hist_count_province_num,


                city.city,
                city.rn-1  as hist_count_city_num,


    s.gmt_datetime
    FROM
    (SELECT *
     FROM  kevin_new_id_all_win_features
      WHERE  source in ('train','test') ) s


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,user_id, gmt_datetime,
                rank() over(partition by info_2,user_id order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) user_id
            on s.event_id = user_id.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,client_ip, gmt_datetime,
                rank() over(partition by info_2,client_ip order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) client_ip
            on s.event_id = client_ip.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,network, gmt_datetime,
                rank() over(partition by info_2,network order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) network
            on s.event_id = network.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,device_sign, gmt_datetime,
                rank() over(partition by info_2,device_sign order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) device_sign
            on s.event_id = device_sign.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,info_1, gmt_datetime,
                rank() over(partition by info_2,info_1 order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) info_1
            on s.event_id = info_1.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,ip_prov, gmt_datetime,
                rank() over(partition by info_2,ip_prov order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) ip_prov
            on s.event_id = ip_prov.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,ip_city, gmt_datetime,
                rank() over(partition by info_2,ip_city order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) ip_city
            on s.event_id = ip_city.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,mobile_oper_platform, gmt_datetime,
                rank() over(partition by info_2,mobile_oper_platform order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) mobile_oper_platform
            on s.event_id = mobile_oper_platform.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,version, gmt_datetime,
                rank() over(partition by info_2,version order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) version
            on s.event_id = version.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,card_cert_no, gmt_datetime,
                rank() over(partition by info_2,card_cert_no order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) card_cert_no
            on s.event_id = card_cert_no.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,cert_prov, gmt_datetime,
                rank() over(partition by info_2,cert_prov order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) cert_prov
            on s.event_id = cert_prov.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,cert_city, gmt_datetime,
                rank() over(partition by info_2,cert_city order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) cert_city
            on s.event_id = cert_city.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,card_bin_prov, gmt_datetime,
                rank() over(partition by info_2,card_bin_prov order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) card_bin_prov
            on s.event_id = card_bin_prov.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,card_bin_city, gmt_datetime,
                rank() over(partition by info_2,card_bin_city order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) card_bin_city
            on s.event_id = card_bin_city.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,card_mobile_prov, gmt_datetime,
                rank() over(partition by info_2,card_mobile_prov order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) card_mobile_prov
            on s.event_id = card_mobile_prov.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,card_mobile_city, gmt_datetime,
                rank() over(partition by info_2,card_mobile_city order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) card_mobile_city
            on s.event_id = card_mobile_city.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,card_cert_prov, gmt_datetime,
                rank() over(partition by info_2,card_cert_prov order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) card_cert_prov
            on s.event_id = card_cert_prov.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,card_cert_city, gmt_datetime,
                rank() over(partition by info_2,card_cert_city order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) card_cert_city
            on s.event_id = card_cert_city.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,is_one_people, gmt_datetime,
                rank() over(partition by info_2,is_one_people order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) is_one_people
            on s.event_id = is_one_people.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,operation_channel, gmt_datetime,
                rank() over(partition by info_2,operation_channel order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) operation_channel
            on s.event_id = operation_channel.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,pay_scene, gmt_datetime,
                rank() over(partition by info_2,pay_scene order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) pay_scene
            on s.event_id = pay_scene.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,amt, gmt_datetime,
                rank() over(partition by info_2,amt order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) amt
            on s.event_id = amt.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,is_peer_pay, gmt_datetime,
                rank() over(partition by info_2,is_peer_pay order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) is_peer_pay
            on s.event_id = is_peer_pay.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,opposing_id, gmt_datetime,
                rank() over(partition by info_2,opposing_id order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) opposing_id
            on s.event_id = opposing_id.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,income_card_no, gmt_datetime,
                rank() over(partition by info_2,income_card_no order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) income_card_no
            on s.event_id = income_card_no.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,income_card_cert_no, gmt_datetime,
                rank() over(partition by info_2,income_card_cert_no order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) income_card_cert_no
            on s.event_id = income_card_cert_no.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,income_card_mobile, gmt_datetime,
                rank() over(partition by info_2,income_card_mobile order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) income_card_mobile
            on s.event_id = income_card_mobile.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,income_card_bank_code, gmt_datetime,
                rank() over(partition by info_2,income_card_bank_code order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) income_card_bank_code
            on s.event_id = income_card_bank_code.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,province, gmt_datetime,
                rank() over(partition by info_2,province order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) province
            on s.event_id = province.event_id


              LEFT OUTER JOIN
            (
              SELECT
                event_id, info_2,city, gmt_datetime,
                rank() over(partition by info_2,city order by gmt_datetime ) rn
              from kevin_new_id_all_win_features
              WHERE  source in ('train','test')   and  info_2 is not NULL
            ) city
            on s.event_id = city.event_id

In [27]:
# 分母

# group_var = 'opposing_id'
# group_var = 'client_ip'
# group_var = 'device_sign'
# group_var = 'info_1'
group_var = 'info_2'

for group_var in ['opposing_id','client_ip','device_sign','info_1','info_2']:
    history_fenmu_sql(group_var,user='kevin')

CREATE TABLE IF NOT EXISTS kevin_opposing_id_date_gap_count AS
      SELECT t.event_id
           ,t.opposing_id
           ,t.gmt_datetime
           ,t.gmt_datetime_last
           ,DATEDIFF(gmt_datetime ,gmt_datetime_last ,'hh') AS gmt_time_gap
           ,(case when (t.rn-1) = 0 then 0.001 else (t.rn-1) end)             AS hist_opposing_id_count_num2
       FROM (SELECT event_id
                   ,opposing_id
                   ,gmt_datetime
                   ,LAG(gmt_datetime ,1) OVER ( PARTITION BY opposing_id ORDER BY gmt_datetime ) gmt_datetime_last
                   ,RANK() OVER ( PARTITION BY opposing_id ORDER BY gmt_datetime ) rn                              -- ,
             --     row_number() over(partition by opposing_id order by gmt_datetime ) rn1
               FROM kevin_id_all_win_features
              WHERE source IN ( 'train' , 'test' )
            )t
    ;
CREATE TABLE IF NOT EXISTS kevin_client_ip_date_gap_count AS
      SELECT t.event_id
           ,t.client_ip
           ,t.gmt_datetime
           ,t.gmt_datetime_last
           ,DATEDIFF(gmt_datetime ,gmt_datetime_last ,'hh') AS gmt_time_gap
           ,(case when (t.rn-1) = 0 then 0.001 else (t.rn-1) end)             AS hist_client_ip_count_num2
       FROM (SELECT event_id
                   ,client_ip
                   ,gmt_datetime
                   ,LAG(gmt_datetime ,1) OVER ( PARTITION BY client_ip ORDER BY gmt_datetime ) gmt_datetime_last
                   ,RANK() OVER ( PARTITION BY client_ip ORDER BY gmt_datetime ) rn                              -- ,
             --     row_number() over(partition by client_ip order by gmt_datetime ) rn1
               FROM kevin_id_all_win_features
              WHERE source IN ( 'train' , 'test' )
            )t
    ;
CREATE TABLE IF NOT EXISTS kevin_device_sign_date_gap_count AS
      SELECT t.event_id
           ,t.device_sign
           ,t.gmt_datetime
           ,t.gmt_datetime_last
           ,DATEDIFF(gmt_datetime ,gmt_datetime_last ,'hh') AS gmt_time_gap
           ,(case when (t.rn-1) = 0 then 0.001 else (t.rn-1) end)             AS hist_device_sign_count_num2
       FROM (SELECT event_id
                   ,device_sign
                   ,gmt_datetime
                   ,LAG(gmt_datetime ,1) OVER ( PARTITION BY device_sign ORDER BY gmt_datetime ) gmt_datetime_last
                   ,RANK() OVER ( PARTITION BY device_sign ORDER BY gmt_datetime ) rn                              -- ,
             --     row_number() over(partition by device_sign order by gmt_datetime ) rn1
               FROM kevin_id_all_win_features
              WHERE source IN ( 'train' , 'test' )
            )t
    ;
CREATE TABLE IF NOT EXISTS kevin_info_1_date_gap_count AS
      SELECT t.event_id
           ,t.info_1
           ,t.gmt_datetime
           ,t.gmt_datetime_last
           ,DATEDIFF(gmt_datetime ,gmt_datetime_last ,'hh') AS gmt_time_gap
           ,(case when (t.rn-1) = 0 then 0.001 else (t.rn-1) end)             AS hist_info_1_count_num2
       FROM (SELECT event_id
                   ,info_1
                   ,gmt_datetime
                   ,LAG(gmt_datetime ,1) OVER ( PARTITION BY info_1 ORDER BY gmt_datetime ) gmt_datetime_last
                   ,RANK() OVER ( PARTITION BY info_1 ORDER BY gmt_datetime ) rn                              -- ,
             --     row_number() over(partition by info_1 order by gmt_datetime ) rn1
               FROM kevin_id_all_win_features
              WHERE source IN ( 'train' , 'test' )
            )t
    ;
CREATE TABLE IF NOT EXISTS kevin_info_2_date_gap_count AS
      SELECT t.event_id
           ,t.info_2
           ,t.gmt_datetime
           ,t.gmt_datetime_last
           ,DATEDIFF(gmt_datetime ,gmt_datetime_last ,'hh') AS gmt_time_gap
           ,(case when (t.rn-1) = 0 then 0.001 else (t.rn-1) end)             AS hist_info_2_count_num2
       FROM (SELECT event_id
                   ,info_2
                   ,gmt_datetime
                   ,LAG(gmt_datetime ,1) OVER ( PARTITION BY info_2 ORDER BY gmt_datetime ) gmt_datetime_last
                   ,RANK() OVER ( PARTITION BY info_2 ORDER BY gmt_datetime ) rn                              -- ,
             --     row_number() over(partition by info_2 order by gmt_datetime ) rn1
               FROM kevin_id_all_win_features
              WHERE source IN ( 'train' , 'test' )
            )t
    ;

In [28]:
# 分子分母相除


# df_fenzi = 'kevin_info_2_date_hist_count' 
# df_fenmu = 'kevin_opposing_id_date_gap_count '
# group_var = 'opposing_id'
# group_var = 'client_ip'
# group_var = 'device_sign'
# group_var = 'info_1'
# group_var = 'info_2'
for group_var in ['client_ip','device_sign','info_1','info_2']:
    params = {  'user_id':'',
                'opposing_id':'',
                'client_ip':'',
                'device_sign':'',
                'info_1':'',
                'info_2':''}
    
    df_fenzi = 'kevin_{}_date_hist_count'.format(group_var) 
    df_fenmu = 'kevin_{}_date_gap_count'.format(group_var)
    params[group_var] = '-- '
    
    history_prec_sql(group_var,df_fenzi,df_fenmu,user='kevin',**params)
    print('-- ','='*60)

            CREATE TABLE IF NOT EXISTS kevin_prec_client_ip_all_data as
            SELECT s.event_id
                  ,s.client_ip
                  ,s.gmt_datetime_last
                  ,s.hist_client_ip_count_num2
               ,t.hist_count_user_id_num / s.hist_client_ip_count_num2              AS hist_prec_client_ip_user_id
              --  ,t.hist_count_client_ip_num / s.hist_client_ip_count_num2             AS hist_prec_client_ip_client_ip
                  ,t.hist_count_network_num / s.hist_client_ip_count_num2               AS hist_prec_client_ip_network
               ,t.hist_count_device_sign_num / s.hist_client_ip_count_num2           AS hist_prec_client_ip_device_sign
               ,t.hist_count_info_1_num / s.hist_client_ip_count_num2                AS hist_prec_client_ip_info_1
               ,t.hist_count_info_2_num / s.hist_client_ip_count_num2                AS hist_prec_client_ip_info_2
                  ,t.hist_count_ip_prov_num / s.hist_client_ip_count_num2               AS hist_prec_client_ip_ip_prov
                  ,t.hist_count_ip_city_num / s.hist_client_ip_count_num2               AS hist_prec_client_ip_ip_city
                  ,t.hist_count_mobile_oper_platform_num / s.hist_client_ip_count_num2  AS hist_prec_client_ip_mobile_oper_platform
                  ,t.hist_count_version_num / s.hist_client_ip_count_num2               AS hist_prec_client_ip_version
                  ,t.hist_count_card_cert_no_num / s.hist_client_ip_count_num2          AS hist_prec_client_ip_card_cert_no
                  ,t.hist_count_cert_prov_num / s.hist_client_ip_count_num2             AS hist_prec_client_ip_cert_prov
                  ,t.hist_count_cert_city_num / s.hist_client_ip_count_num2             AS hist_prec_client_ip_cert_city
                  ,t.hist_count_card_bin_prov_num / s.hist_client_ip_count_num2         AS hist_prec_client_ip_card_bin_prov
                  ,t.hist_count_card_bin_city_num / s.hist_client_ip_count_num2         AS hist_prec_client_ip_card_bin_city
                  ,t.hist_count_card_mobile_prov_num / s.hist_client_ip_count_num2      AS hist_prec_client_ip_card_mobile_prov
                  ,t.hist_count_card_mobile_city_num / s.hist_client_ip_count_num2      AS hist_prec_client_ip_card_mobile_city
                  ,t.hist_count_card_cert_prov_num / s.hist_client_ip_count_num2        AS hist_prec_client_ip_card_cert_prov
                  ,t.hist_count_card_cert_city_num / s.hist_client_ip_count_num2        AS hist_prec_client_ip_card_cert_city
                  ,t.hist_count_is_one_people_num / s.hist_client_ip_count_num2         AS hist_prec_client_ip_is_one_people
                  ,t.hist_count_operation_channel_num / s.hist_client_ip_count_num2     AS hist_prec_client_ip_operation_channel
                  ,t.hist_count_pay_scene_num / s.hist_client_ip_count_num2             AS hist_prec_client_ip_pay_scene
                  ,t.hist_count_amt_num / s.hist_client_ip_count_num2                   AS hist_prec_client_ip_amt
                  ,t.hist_count_is_peer_pay_num / s.hist_client_ip_count_num2           AS hist_prec_client_ip_is_peer_pay
               ,t.hist_count_opposing_id_num / s.hist_client_ip_count_num2           AS hist_prec_client_ip_opposing_id
                  ,t.hist_count_income_card_no_num / s.hist_client_ip_count_num2        AS hist_prec_client_ip_income_card_no
                  ,t.hist_count_income_card_cert_no_num / s.hist_client_ip_count_num2   AS hist_prec_client_ip_income_card_cert_no
                  ,t.hist_count_income_card_mobile_num / s.hist_client_ip_count_num2    AS hist_prec_client_ip_income_card_mobile
                  ,t.hist_count_income_card_bank_code_num / s.hist_client_ip_count_num2 AS hist_prec_client_ip_income_card_bank_code
                  ,t.hist_count_province_num / s.hist_client_ip_count_num2              AS hist_prec_client_ip_province
                  ,t.hist_count_city_num / s.hist_client_ip_count_num2                  AS hist_prec_client_ip_city
              FROM kevin_client_ip_date_gap_count s
            LEFT OUTER JOIN  kevin_client_ip_date_hist_count t
                ON t.event_id = s.event_id
            ;
--  ============================================================

            CREATE TABLE IF NOT EXISTS kevin_prec_device_sign_all_data as
            SELECT s.event_id
                  ,s.device_sign
                  ,s.gmt_datetime_last
                  ,s.hist_device_sign_count_num2
               ,t.hist_count_user_id_num / s.hist_device_sign_count_num2              AS hist_prec_device_sign_user_id
               ,t.hist_count_client_ip_num / s.hist_device_sign_count_num2             AS hist_prec_device_sign_client_ip
                  ,t.hist_count_network_num / s.hist_device_sign_count_num2               AS hist_prec_device_sign_network
              --  ,t.hist_count_device_sign_num / s.hist_device_sign_count_num2           AS hist_prec_device_sign_device_sign
               ,t.hist_count_info_1_num / s.hist_device_sign_count_num2                AS hist_prec_device_sign_info_1
               ,t.hist_count_info_2_num / s.hist_device_sign_count_num2                AS hist_prec_device_sign_info_2
                  ,t.hist_count_ip_prov_num / s.hist_device_sign_count_num2               AS hist_prec_device_sign_ip_prov
                  ,t.hist_count_ip_city_num / s.hist_device_sign_count_num2               AS hist_prec_device_sign_ip_city
                  ,t.hist_count_mobile_oper_platform_num / s.hist_device_sign_count_num2  AS hist_prec_device_sign_mobile_oper_platform
                  ,t.hist_count_version_num / s.hist_device_sign_count_num2               AS hist_prec_device_sign_version
                  ,t.hist_count_card_cert_no_num / s.hist_device_sign_count_num2          AS hist_prec_device_sign_card_cert_no
                  ,t.hist_count_cert_prov_num / s.hist_device_sign_count_num2             AS hist_prec_device_sign_cert_prov
                  ,t.hist_count_cert_city_num / s.hist_device_sign_count_num2             AS hist_prec_device_sign_cert_city
                  ,t.hist_count_card_bin_prov_num / s.hist_device_sign_count_num2         AS hist_prec_device_sign_card_bin_prov
                  ,t.hist_count_card_bin_city_num / s.hist_device_sign_count_num2         AS hist_prec_device_sign_card_bin_city
                  ,t.hist_count_card_mobile_prov_num / s.hist_device_sign_count_num2      AS hist_prec_device_sign_card_mobile_prov
                  ,t.hist_count_card_mobile_city_num / s.hist_device_sign_count_num2      AS hist_prec_device_sign_card_mobile_city
                  ,t.hist_count_card_cert_prov_num / s.hist_device_sign_count_num2        AS hist_prec_device_sign_card_cert_prov
                  ,t.hist_count_card_cert_city_num / s.hist_device_sign_count_num2        AS hist_prec_device_sign_card_cert_city
                  ,t.hist_count_is_one_people_num / s.hist_device_sign_count_num2         AS hist_prec_device_sign_is_one_people
                  ,t.hist_count_operation_channel_num / s.hist_device_sign_count_num2     AS hist_prec_device_sign_operation_channel
                  ,t.hist_count_pay_scene_num / s.hist_device_sign_count_num2             AS hist_prec_device_sign_pay_scene
                  ,t.hist_count_amt_num / s.hist_device_sign_count_num2                   AS hist_prec_device_sign_amt
                  ,t.hist_count_is_peer_pay_num / s.hist_device_sign_count_num2           AS hist_prec_device_sign_is_peer_pay
               ,t.hist_count_opposing_id_num / s.hist_device_sign_count_num2           AS hist_prec_device_sign_opposing_id
                  ,t.hist_count_income_card_no_num / s.hist_device_sign_count_num2        AS hist_prec_device_sign_income_card_no
                  ,t.hist_count_income_card_cert_no_num / s.hist_device_sign_count_num2   AS hist_prec_device_sign_income_card_cert_no
                  ,t.hist_count_income_card_mobile_num / s.hist_device_sign_count_num2    AS hist_prec_device_sign_income_card_mobile
                  ,t.hist_count_income_card_bank_code_num / s.hist_device_sign_count_num2 AS hist_prec_device_sign_income_card_bank_code
                  ,t.hist_count_province_num / s.hist_device_sign_count_num2              AS hist_prec_device_sign_province
                  ,t.hist_count_city_num / s.hist_device_sign_count_num2                  AS hist_prec_device_sign_city
              FROM kevin_device_sign_date_gap_count s
            LEFT OUTER JOIN  kevin_device_sign_date_hist_count t
                ON t.event_id = s.event_id
            ;
--  ============================================================

            CREATE TABLE IF NOT EXISTS kevin_prec_info_1_all_data as
            SELECT s.event_id
                  ,s.info_1
                  ,s.gmt_datetime_last
                  ,s.hist_info_1_count_num2
               ,t.hist_count_user_id_num / s.hist_info_1_count_num2              AS hist_prec_info_1_user_id
               ,t.hist_count_client_ip_num / s.hist_info_1_count_num2             AS hist_prec_info_1_client_ip
                  ,t.hist_count_network_num / s.hist_info_1_count_num2               AS hist_prec_info_1_network
               ,t.hist_count_device_sign_num / s.hist_info_1_count_num2           AS hist_prec_info_1_device_sign
              --  ,t.hist_count_info_1_num / s.hist_info_1_count_num2                AS hist_prec_info_1_info_1
               ,t.hist_count_info_2_num / s.hist_info_1_count_num2                AS hist_prec_info_1_info_2
                  ,t.hist_count_ip_prov_num / s.hist_info_1_count_num2               AS hist_prec_info_1_ip_prov
                  ,t.hist_count_ip_city_num / s.hist_info_1_count_num2               AS hist_prec_info_1_ip_city
                  ,t.hist_count_mobile_oper_platform_num / s.hist_info_1_count_num2  AS hist_prec_info_1_mobile_oper_platform
                  ,t.hist_count_version_num / s.hist_info_1_count_num2               AS hist_prec_info_1_version
                  ,t.hist_count_card_cert_no_num / s.hist_info_1_count_num2          AS hist_prec_info_1_card_cert_no
                  ,t.hist_count_cert_prov_num / s.hist_info_1_count_num2             AS hist_prec_info_1_cert_prov
                  ,t.hist_count_cert_city_num / s.hist_info_1_count_num2             AS hist_prec_info_1_cert_city
                  ,t.hist_count_card_bin_prov_num / s.hist_info_1_count_num2         AS hist_prec_info_1_card_bin_prov
                  ,t.hist_count_card_bin_city_num / s.hist_info_1_count_num2         AS hist_prec_info_1_card_bin_city
                  ,t.hist_count_card_mobile_prov_num / s.hist_info_1_count_num2      AS hist_prec_info_1_card_mobile_prov
                  ,t.hist_count_card_mobile_city_num / s.hist_info_1_count_num2      AS hist_prec_info_1_card_mobile_city
                  ,t.hist_count_card_cert_prov_num / s.hist_info_1_count_num2        AS hist_prec_info_1_card_cert_prov
                  ,t.hist_count_card_cert_city_num / s.hist_info_1_count_num2        AS hist_prec_info_1_card_cert_city
                  ,t.hist_count_is_one_people_num / s.hist_info_1_count_num2         AS hist_prec_info_1_is_one_people
                  ,t.hist_count_operation_channel_num / s.hist_info_1_count_num2     AS hist_prec_info_1_operation_channel
                  ,t.hist_count_pay_scene_num / s.hist_info_1_count_num2             AS hist_prec_info_1_pay_scene
                  ,t.hist_count_amt_num / s.hist_info_1_count_num2                   AS hist_prec_info_1_amt
                  ,t.hist_count_is_peer_pay_num / s.hist_info_1_count_num2           AS hist_prec_info_1_is_peer_pay
               ,t.hist_count_opposing_id_num / s.hist_info_1_count_num2           AS hist_prec_info_1_opposing_id
                  ,t.hist_count_income_card_no_num / s.hist_info_1_count_num2        AS hist_prec_info_1_income_card_no
                  ,t.hist_count_income_card_cert_no_num / s.hist_info_1_count_num2   AS hist_prec_info_1_income_card_cert_no
                  ,t.hist_count_income_card_mobile_num / s.hist_info_1_count_num2    AS hist_prec_info_1_income_card_mobile
                  ,t.hist_count_income_card_bank_code_num / s.hist_info_1_count_num2 AS hist_prec_info_1_income_card_bank_code
                  ,t.hist_count_province_num / s.hist_info_1_count_num2              AS hist_prec_info_1_province
                  ,t.hist_count_city_num / s.hist_info_1_count_num2                  AS hist_prec_info_1_city
              FROM kevin_info_1_date_gap_count s
            LEFT OUTER JOIN  kevin_info_1_date_hist_count t
                ON t.event_id = s.event_id
            ;
--  ============================================================

            CREATE TABLE IF NOT EXISTS kevin_prec_info_2_all_data as
            SELECT s.event_id
                  ,s.info_2
                  ,s.gmt_datetime_last
                  ,s.hist_info_2_count_num2
               ,t.hist_count_user_id_num / s.hist_info_2_count_num2              AS hist_prec_info_2_user_id
               ,t.hist_count_client_ip_num / s.hist_info_2_count_num2             AS hist_prec_info_2_client_ip
                  ,t.hist_count_network_num / s.hist_info_2_count_num2               AS hist_prec_info_2_network
               ,t.hist_count_device_sign_num / s.hist_info_2_count_num2           AS hist_prec_info_2_device_sign
               ,t.hist_count_info_1_num / s.hist_info_2_count_num2                AS hist_prec_info_2_info_1
              --  ,t.hist_count_info_2_num / s.hist_info_2_count_num2                AS hist_prec_info_2_info_2
                  ,t.hist_count_ip_prov_num / s.hist_info_2_count_num2               AS hist_prec_info_2_ip_prov
                  ,t.hist_count_ip_city_num / s.hist_info_2_count_num2               AS hist_prec_info_2_ip_city
                  ,t.hist_count_mobile_oper_platform_num / s.hist_info_2_count_num2  AS hist_prec_info_2_mobile_oper_platform
                  ,t.hist_count_version_num / s.hist_info_2_count_num2               AS hist_prec_info_2_version
                  ,t.hist_count_card_cert_no_num / s.hist_info_2_count_num2          AS hist_prec_info_2_card_cert_no
                  ,t.hist_count_cert_prov_num / s.hist_info_2_count_num2             AS hist_prec_info_2_cert_prov
                  ,t.hist_count_cert_city_num / s.hist_info_2_count_num2             AS hist_prec_info_2_cert_city
                  ,t.hist_count_card_bin_prov_num / s.hist_info_2_count_num2         AS hist_prec_info_2_card_bin_prov
                  ,t.hist_count_card_bin_city_num / s.hist_info_2_count_num2         AS hist_prec_info_2_card_bin_city
                  ,t.hist_count_card_mobile_prov_num / s.hist_info_2_count_num2      AS hist_prec_info_2_card_mobile_prov
                  ,t.hist_count_card_mobile_city_num / s.hist_info_2_count_num2      AS hist_prec_info_2_card_mobile_city
                  ,t.hist_count_card_cert_prov_num / s.hist_info_2_count_num2        AS hist_prec_info_2_card_cert_prov
                  ,t.hist_count_card_cert_city_num / s.hist_info_2_count_num2        AS hist_prec_info_2_card_cert_city
                  ,t.hist_count_is_one_people_num / s.hist_info_2_count_num2         AS hist_prec_info_2_is_one_people
                  ,t.hist_count_operation_channel_num / s.hist_info_2_count_num2     AS hist_prec_info_2_operation_channel
                  ,t.hist_count_pay_scene_num / s.hist_info_2_count_num2             AS hist_prec_info_2_pay_scene
                  ,t.hist_count_amt_num / s.hist_info_2_count_num2                   AS hist_prec_info_2_amt
                  ,t.hist_count_is_peer_pay_num / s.hist_info_2_count_num2           AS hist_prec_info_2_is_peer_pay
               ,t.hist_count_opposing_id_num / s.hist_info_2_count_num2           AS hist_prec_info_2_opposing_id
                  ,t.hist_count_income_card_no_num / s.hist_info_2_count_num2        AS hist_prec_info_2_income_card_no
                  ,t.hist_count_income_card_cert_no_num / s.hist_info_2_count_num2   AS hist_prec_info_2_income_card_cert_no
                  ,t.hist_count_income_card_mobile_num / s.hist_info_2_count_num2    AS hist_prec_info_2_income_card_mobile
                  ,t.hist_count_income_card_bank_code_num / s.hist_info_2_count_num2 AS hist_prec_info_2_income_card_bank_code
                  ,t.hist_count_province_num / s.hist_info_2_count_num2              AS hist_prec_info_2_province
                  ,t.hist_count_city_num / s.hist_info_2_count_num2                  AS hist_prec_info_2_city
              FROM kevin_info_2_date_gap_count s
            LEFT OUTER JOIN  kevin_info_2_date_hist_count t
                ON t.event_id = s.event_id
            ;
--  ============================================================

## 其他特征块

In [16]:
date_gap = 3
for var in var_ana_list:
    print("""
    ,count(DISTINCT {0}) AS win_{0}""".format(var)+'_{3}_num')

    ,count(DISTINCT client_ip) AS win_client_ip_{3}_num

    ,count(DISTINCT network) AS win_network_{3}_num

    ,count(DISTINCT device_sign) AS win_device_sign_{3}_num

    ,count(DISTINCT info_1) AS win_info_1_{3}_num

    ,count(DISTINCT info_2) AS win_info_2_{3}_num

    ,count(DISTINCT ip_prov) AS win_ip_prov_{3}_num

    ,count(DISTINCT ip_city) AS win_ip_city_{3}_num

    ,count(DISTINCT mobile_oper_platform) AS win_mobile_oper_platform_{3}_num

    ,count(DISTINCT version) AS win_version_{3}_num

    ,count(DISTINCT card_cert_no) AS win_card_cert_no_{3}_num

    ,count(DISTINCT cert_prov) AS win_cert_prov_{3}_num

    ,count(DISTINCT cert_city) AS win_cert_city_{3}_num

    ,count(DISTINCT card_bin_prov) AS win_card_bin_prov_{3}_num

    ,count(DISTINCT card_bin_city) AS win_card_bin_city_{3}_num

    ,count(DISTINCT card_mobile_prov) AS win_card_mobile_prov_{3}_num

    ,count(DISTINCT card_mobile_city) AS win_card_mobile_city_{3}_num

    ,count(DISTINCT card_cert_prov) AS win_card_cert_prov_{3}_num

    ,count(DISTINCT card_cert_city) AS win_card_cert_city_{3}_num

    ,count(DISTINCT is_one_people) AS win_is_one_people_{3}_num

    ,count(DISTINCT operation_channel) AS win_operation_channel_{3}_num

    ,count(DISTINCT pay_scene) AS win_pay_scene_{3}_num

    ,count(DISTINCT amt) AS win_amt_{3}_num

    ,count(DISTINCT is_peer_pay) AS win_is_peer_pay_{3}_num

    ,count(DISTINCT opposing_id) AS win_opposing_id_{3}_num

    ,count(DISTINCT income_card_no) AS win_income_card_no_{3}_num

    ,count(DISTINCT income_card_cert_no) AS win_income_card_cert_no_{3}_num

    ,count(DISTINCT income_card_mobile) AS win_income_card_mobile_{3}_num

    ,count(DISTINCT income_card_bank_code) AS win_income_card_bank_code_{3}_num

    ,count(DISTINCT province) AS win_province_{3}_num

    ,count(DISTINCT city) AS win_city_{3}_num

In [42]:
date_gap = 3
for var in var_ana_list:
    for dg in [1,3,5,7]:
        print("""win_{0}_{1}_num""".format(var,dg))

win_client_ip_1_num
win_client_ip_3_num
win_client_ip_5_num
win_client_ip_7_num
win_network_1_num
win_network_3_num
win_network_5_num
win_network_7_num
win_device_sign_1_num
win_device_sign_3_num
win_device_sign_5_num
win_device_sign_7_num
win_info_1_1_num
win_info_1_3_num
win_info_1_5_num
win_info_1_7_num
win_info_2_1_num
win_info_2_3_num
win_info_2_5_num
win_info_2_7_num
win_ip_prov_1_num
win_ip_prov_3_num
win_ip_prov_5_num
win_ip_prov_7_num
win_ip_city_1_num
win_ip_city_3_num
win_ip_city_5_num
win_ip_city_7_num
win_mobile_oper_platform_1_num
win_mobile_oper_platform_3_num
win_mobile_oper_platform_5_num
win_mobile_oper_platform_7_num
win_version_1_num
win_version_3_num
win_version_5_num
win_version_7_num
win_card_cert_no_1_num
win_card_cert_no_3_num
win_card_cert_no_5_num
win_card_cert_no_7_num
win_cert_prov_1_num
win_cert_prov_3_num
win_cert_prov_5_num
win_cert_prov_7_num
win_cert_city_1_num
win_cert_city_3_num
win_cert_city_5_num
win_cert_city_7_num
win_card_bin_prov_1_num
win_card_bin_prov_3_num
win_card_bin_prov_5_num
win_card_bin_prov_7_num
win_card_bin_city_1_num
win_card_bin_city_3_num
win_card_bin_city_5_num
win_card_bin_city_7_num
win_card_mobile_prov_1_num
win_card_mobile_prov_3_num
win_card_mobile_prov_5_num
win_card_mobile_prov_7_num
win_card_mobile_city_1_num
win_card_mobile_city_3_num
win_card_mobile_city_5_num
win_card_mobile_city_7_num
win_card_cert_prov_1_num
win_card_cert_prov_3_num
win_card_cert_prov_5_num
win_card_cert_prov_7_num
win_card_cert_city_1_num
win_card_cert_city_3_num
win_card_cert_city_5_num
win_card_cert_city_7_num
win_is_one_people_1_num
win_is_one_people_3_num
win_is_one_people_5_num
win_is_one_people_7_num
win_operation_channel_1_num
win_operation_channel_3_num
win_operation_channel_5_num
win_operation_channel_7_num
win_pay_scene_1_num
win_pay_scene_3_num
win_pay_scene_5_num
win_pay_scene_7_num
win_amt_1_num
win_amt_3_num
win_amt_5_num
win_amt_7_num
win_is_peer_pay_1_num
win_is_peer_pay_3_num
win_is_peer_pay_5_num
win_is_peer_pay_7_num
win_opposing_id_1_num
win_opposing_id_3_num
win_opposing_id_5_num
win_opposing_id_7_num
win_income_card_no_1_num
win_income_card_no_3_num
win_income_card_no_5_num
win_income_card_no_7_num
win_income_card_cert_no_1_num
win_income_card_cert_no_3_num
win_income_card_cert_no_5_num
win_income_card_cert_no_7_num
win_income_card_mobile_1_num
win_income_card_mobile_3_num
win_income_card_mobile_5_num
win_income_card_mobile_7_num
win_income_card_bank_code_1_num
win_income_card_bank_code_3_num
win_income_card_bank_code_5_num
win_income_card_bank_code_7_num
win_province_1_num
win_province_3_num
win_province_5_num
win_province_7_num
win_city_1_num
win_city_3_num
win_city_5_num
win_city_7_num

In [36]:
### 查看行数特征重要性
print("""
SELECT v.* 
  FROM (SELECT * 
              ,RANK() OVER ( ORDER BY feature_importance11 DESC ) rn1 
              ,RANK() OVER ( ORDER BY feature_importance12 DESC ) rn2 
              ,RANK() OVER ( ORDER BY feature_importance13 DESC ) rn3 
          FROM b_featureimportancelow 
       )v 
 WHERE v.rn1 > 0 
   AND v.rn1 <= 100 
--  WHERE v.rn1 > 100 and  v.rn1 <= 200
--  WHERE v.rn1 > 200 and  v.rn1 <= 300
--  WHERE v.rn1 > 300 and  v.rn1 <= 400
;
""")

SELECT v.*
  FROM (SELECT *
              ,RANK() OVER ( ORDER BY feature_importance11 DESC ) rn1
              ,RANK() OVER ( ORDER BY feature_importance12 DESC ) rn2
              ,RANK() OVER ( ORDER BY feature_importance13 DESC ) rn3
          FROM b_featureimportancelow
       )v
 WHERE v.rn1 > 0
   AND v.rn1 <= 100
--  WHERE v.rn1 > 100 and  v.rn1 <= 200
--  WHERE v.rn1 > 200 and  v.rn1 <= 300
--  WHERE v.rn1 > 300 and  v.rn1 <= 400
;

In [59]:
# var = 'gmt_occur'  # 无用
# group_var = 'opposing_id'
# group_var = 'client_ip'
# group_var = 'device_sign'
# group_var = 'info_1'
# group_var = 'info_2'

# for i,d in enumerate(train_date+test_date):
#     day = datetime.strftime(d,'%Y-%m-%d')
#     window_his_sql(var,day,i,group_var,date_gap=-1,user='kevin')

CREATE TABLE IF NOT EXISTS kevin_histFea_info_2_all_count AS
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-05','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-05','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-06','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-06','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-07','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-07','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-08','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-08','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-09','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-09','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-10','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-10','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-11','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-11','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-12','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-12','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-13','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-13','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-14','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-14','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-15','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-15','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-16','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-16','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-17','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-17','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-18','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-18','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-19','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-19','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-20','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-20','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-21','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-21','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-22','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-22','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-23','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-23','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-24','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-24','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-25','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-25','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-26','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-26','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-27','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-27','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-28','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-28','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-29','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-29','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-09-30','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-09-30','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-01','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-01','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-02','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-02','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-03','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-03','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-04','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-04','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-05','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-05','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-06','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-06','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-07','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-07','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-08','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-08','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT
            event_id,info_2
        FROM kevin_new_id_all_win_features
        WHERE gmt_date=to_date('2017-10-09','yyyy-mm-dd')
    ) v
    LEFT OUTER JOIN (
        SELECT info_2, count(*) AS hist_info_2_count_num
        FROM  kevin_new_id_all_win_features
        WHERE  gmt_date<to_date('2017-10-09','yyyy-mm-dd') and  source in ('train','test')
                and  info_2 is not NULL
        GROUP BY info_2
    )s
    ON v.info_2 = s.info_2;

INSERT INTO TABLE kevin_histFea_info_2_all_count
SELECT v.event_id,s.hist_info_2_count_num
    FROM(
        SELECT

In [105]:
# for var in var_ana_list:
#     print("""t.hist_count_{0}_num/s.hist_count_num2 as hist_prec_{0},""".format(var))

t.hist_count_client_ip_num/s.hist_count_num2 as hist_prec_client_ip,
t.hist_count_network_num/s.hist_count_num2 as hist_prec_network,
t.hist_count_device_sign_num/s.hist_count_num2 as hist_prec_device_sign,
t.hist_count_info_1_num/s.hist_count_num2 as hist_prec_info_1,
t.hist_count_info_2_num/s.hist_count_num2 as hist_prec_info_2,
t.hist_count_ip_prov_num/s.hist_count_num2 as hist_prec_ip_prov,
t.hist_count_ip_city_num/s.hist_count_num2 as hist_prec_ip_city,
t.hist_count_mobile_oper_platform_num/s.hist_count_num2 as hist_prec_mobile_oper_platform,
t.hist_count_version_num/s.hist_count_num2 as hist_prec_version,
t.hist_count_card_cert_no_num/s.hist_count_num2 as hist_prec_card_cert_no,
t.hist_count_cert_prov_num/s.hist_count_num2 as hist_prec_cert_prov,
t.hist_count_cert_city_num/s.hist_count_num2 as hist_prec_cert_city,
t.hist_count_card_bin_prov_num/s.hist_count_num2 as hist_prec_card_bin_prov,
t.hist_count_card_bin_city_num/s.hist_count_num2 as hist_prec_card_bin_city,
t.hist_count_card_mobile_prov_num/s.hist_count_num2 as hist_prec_card_mobile_prov,
t.hist_count_card_mobile_city_num/s.hist_count_num2 as hist_prec_card_mobile_city,
t.hist_count_card_cert_prov_num/s.hist_count_num2 as hist_prec_card_cert_prov,
t.hist_count_card_cert_city_num/s.hist_count_num2 as hist_prec_card_cert_city,
t.hist_count_is_one_people_num/s.hist_count_num2 as hist_prec_is_one_people,
t.hist_count_operation_channel_num/s.hist_count_num2 as hist_prec_operation_channel,
t.hist_count_pay_scene_num/s.hist_count_num2 as hist_prec_pay_scene,
t.hist_count_amt_num/s.hist_count_num2 as hist_prec_amt,
t.hist_count_is_peer_pay_num/s.hist_count_num2 as hist_prec_is_peer_pay,
t.hist_count_opposing_id_num/s.hist_count_num2 as hist_prec_opposing_id,
t.hist_count_income_card_no_num/s.hist_count_num2 as hist_prec_income_card_no,
t.hist_count_income_card_cert_no_num/s.hist_count_num2 as hist_prec_income_card_cert_no,
t.hist_count_income_card_mobile_num/s.hist_count_num2 as hist_prec_income_card_mobile,
t.hist_count_income_card_bank_code_num/s.hist_count_num2 as hist_prec_income_card_bank_code,
t.hist_count_province_num/s.hist_count_num2 as hist_prec_province,
t.hist_count_city_num/s.hist_count_num2 as hist_prec_city,